<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="footerMenu">
    <footer>
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <h3>Contact Us</h3>
                    <div class="feature-box icon-square">
                        <i class="fa fa-phone"></i>
                        <div class="text">
                            <p>
                                777 Street Fourth Avenue Somewhere Over Rainbow Green World, New York<br>
                                +22 090 1777 1998 &nbsp;&nbsp;&nbsp; +22 090 1777 1999<br>
                                office@exotheme.com
                            </p>

                            <!-- social icons -->
                            <div class="social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-rss"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-envelope-o"></i></a>
                            </div>
                            <!-- social icons close -->
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <h3>Bussiness Hours</h3>
                    <div class="feature-box icon-square">
                        <i class="fa fa-clock-o"></i>
                        <div class="text">
                            <ul class="list-border-bottom">
                                <li>
                                    <span class="pull-left">Monday - Friday :</span>
                                    <span class="pull-right id-color">9 am to 10 pm</span>
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <span class="pull-left">Saturday</span>
                                    <span class="pull-right id-color">9 am to 5 pm</span>
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <span class="pull-left">Sunday & Official Holiday :</span>
                                    <span class="pull-right id-color">Closed</span>
                                    <div class="clearfix"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <h3>Newsletter Sign Up</h3>
                    <div class="feature-box icon-square">
                        <i class="fa fa-newspaper-o"></i>
                        <div class="text">
                            <p>Subscribe to our weekly newsletter to get information and promotion on your inbox</p>
                            <div class="clearfix"></div>
                            <div class="subscribe">
                                <div class="l-col">
                                    <input type="text" class="form-control" name="subscribe-email" id="subscribe-email">
                                </div>
                                <div class="r-col">
                                    <input class="form btn btn-custom" name="subscribe-submit" id="subscribe-submit"
                                           type="submit" value="Subscribe">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="divider-line"></div>
                </div>

                <div class="col-md-3">
                    <div class="widget">
                        <h3>Useful Links</h3>
                        <ul class="list-2-col">
                            <li><a th:href="@{/services}">Services</a></li>
                            <li><a th:href="@{/contact}">Contact Us</a></li>
                        </ul>

                    </div>
                </div>


            </div>
        </div>

        <div class="subfooter">
            &copy; Copyright 2015 - GoCargo by Go Car Go Team
        </div>
    </footer>
</div>

</body>
</html>