<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="siteMenu">
    <div class="col-md-9">
        <nav id="mainmenu-container">
            <ul id="mainmenu">
                <li><a href="index.html">Home</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="calculate.html">Calculate</a></li>
                <li><a href="news.html">News</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="registration.html">Registration</a></li>
                <li><a href="loginPage.html">Login</a></li>
            </ul>
        </nav>


        <div class="search text-right">
            <input type="text" name="search" id="search" placeholder="search">
        </div>


    </div>
</div>
</body>
</html>