<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css">

</head>
<body>
<div th:fragment="siteMenu">
    <div class="col-md-9">
        <nav id="mainmenu-container">
            <ul id="mainmenu">
                <li><a th:href="@{/}" th:text="#{home}">Home</a></li>
                <li><a th:href="@{/services}" th:text="#{services}">Services</a></li>
                <li><a th:href="@{/about}" th:text="#{about}">About Us</a></li>
                <li><a th:href="@{/calculate}" th:text="#{calculate}">Calculate</a></li>
                <li><a th:href="@{/news}" th:text="#{news}">News</a></li>
                <li><a th:href="@{/gallery}" th:text="#{gallery}">Gallery</a></li>
                <li><a th:href="@{/contact}" th:text="#{contact}">Contact</a></li>
                <li><a th:if="${currentUser == null}" th:href="@{/user/registration}" th:text="#{registration}">Registration</a>
                </li>

                <li><a th:if="${currentUser == null}" th:href="@{/user/loginPage}" th:text="#{login}">Login</a></li>
                <li><a th:if="${currentUser != null}" th:href="@{/user/account}" th:text="#{account}">Account</a></li>
                <li th:if="${currentUser != null}"><a th:href="@{/logout}" th:text="#{logout}">Logout</a></li>
            </ul>

        </nav>
        <form style="position: relative;
    bottom: 68px;
    left: 1063px" id="languageForm" th:action="@{/change-language}" method="get">
            <select name="lang" id="langSelect" onchange="this.form.submit()">
                <option style="color: black" th:selected="${currentLang == 'en'}" value="en">English</option>
                <option style="color: black" th:selected="${currentLang == 'hy'}" value="hy">Armenian</option>
            </select>
        </form>
        <div class="search text-right">
            <input th:if="${currentUser != null}" type="text" name="search" id="search" placeholder="search">
        </div>
    </div>
</div>

<script>
    document.getElementById('langSelect').addEventListener('change', function () {
        document.getElementById('languageForm').submit();
    });
</script>

</body>
</html>
