<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link href="/css/main.css" rel="stylesheet" type="text/css">

    <link href='/css/fullcalendar.css' rel='stylesheet'/>
    <link href='/css/fullcalendar.print.css' rel='stylesheet' media='print'/>
</head>
<body>

<div id="wrapper">
    <header style="background-color: #1f242e">
        <div class="container">
            <span id="menu-btn"></span>

            <div class="row">
                <div th:block data-th-insert="~{/fragment/headerFragment::siteMenu}"></div>
            </div>
        </div>
    </header>
</div>
<!-- header close -->
<div class="flex-container">
    <div class="main-container">

        <div style="width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 28px;
    margin-top: -147px;" >
            <div class="header">
                <div class="logo">
                    <img src="/img/logo-2.png" alt="logo">
                </div>

            </div>
            <div class="title">
                <h1>Welcome back </h1>
                <h2 th:text="${#authentication.getPrincipal().getUser().getName() + ' ' + #authentication.getPrincipal().getUser().getSurname() }"></h2>
                <h3 th:text="${#authentication.getPrincipal().getUser().getEmail()}"></h3>
                <h3 th:text="${#authentication.getPrincipal().getUser().getPhone()}"></h3>
                <a th:onclick="'return confirmDelete(' + ${#authentication.principal.user.id} + ');'" th:href="@{'/user/delete/' + ${#authentication.principal.user.id}}">Delete account</a>
                <a  th:href="@{'/user/update/' + ${#authentication.principal.user.id}}">Update account</a>
            </div>

            <script th:inline="javascript">
                function confirmDelete(userId) {
                    var result = confirm("Are you sure you want to delete your account?");
                    if (result) {
                        return true;
                    } else {
                        return false;
                    }
                }
            </script>
        </div>
        <div style="color: #1b1f27;
    font-size: 32px;
    position: relative;
    top: 160px;
    right: 9px;">
            <a>Search my orders</a><br><br>
            <a>All my order</a>

        </div>
    </div>

</div>
<div th:block data-th-insert="~{/fragment/footerFragment::footerMenu}"></div>
</body>
</html>