<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link href="/css/main.css" rel="stylesheet" type="text/css">

    <link href='/css/fullcalendar.css' rel='stylesheet'/>
    <link href='/css/fullcalendar.print.css' rel='stylesheet' media='print'/>
</head>
<body>

<div id="wrapper">
    <header style="background-color: #1f242e">
        <div class="container">
            <span id="menu-btn"></span>

            <div class="row">
                <div th:block data-th-insert="~{/fragment/headerFragment::siteMenu}"></div>
            </div>
        </div>
    </header>
</div>
<!-- header close -->
<div class="flex-container">
    <div class="main-container">

        <div style="width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 28px;
    margin-top: -147px;" >
            <div class="header">
                <div class="logo">
                    <img src="/img/logo-2.png" alt="logo">
                </div>

            </div>
            <div class="title">
                <h1>Welcome back </h1>
                <h2 th:text="${#authentication.getPrincipal().getUser().getName() + ' ' + #authentication.getPrincipal().getUser().getSurname() }"></h2>
                <h3 th:text="${#authentication.getPrincipal().getUser().getEmail()}"></h3>
                <a th:onclick="'return confirmDelete(' + ${#authentication.principal.user.id} + ');'" th:href="@{'/user/delete/' + ${#authentication.principal.user.id}}">Delete account</a>
                <a  th:href="@{'/user/update/' + ${#authentication.principal.user.id}}">Update account</a>
            </div>

            <script th:inline="javascript">
                function confirmDelete(userId) {
                    var result = confirm("Are you sure you want to delete your account?");
                    if (result) {
                        return true;
                    } else {
                        return false;
                    }
                }
            </script>
        </div>
        <div style="color: #1b1f27;
    font-size: 32px;
    position: relative;
    top: 160px;
    right: 9px;">
            <a>Search my orders</a><br><br>
            <a>All my order</a>

        </div>
        <!--        <div class="search">-->
<!--            <section id="section-track" class="no-padding light-text">-->
<!--                <div class="container">-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-9">-->
<!--                            <div class="row">-->
<!--                                <div class="col-md-7 no-padding">-->
<!--                                    <div class="inner">-->
<!--                                        <h3>Track &amp; Trace</h3>-->
<!--                                        <span>Already have a load ID, please insert it below</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-md-5 no-padding">-->
<!--                                    <input class="input-fullwidth" name="track" id="track">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-md-3">-->
<!--                            <a id="track-it" href="#section-tracking-result" class="btn-custom btn-fullwidth">Track it</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </section>-->
<!--            <section id="section-tracking-result" class="light-text no-margin">-->
<!--                <div class="container">-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-8 col-md-offset-2">-->
<!--                            <div class="divider-double"></div>-->
<!--                            <div class="text-center">-->
<!--                                <h3><span class="grey">Product ID:</span> 112345679087328</h3>-->
<!--                            </div>-->


<!--                            <div class="divider-double"></div>-->

<!--                            <div class="wrapper-line padding40 rounded10">-->


<!--                                <ul class="progress">-->
<!--                                    <li><a href="">Accepted</a></li>-->
<!--                                    <li class="beforeactive"><a href="">Order Processing</a></li>-->
<!--                                    <li class="active"><a href="">Shipment Pending</a></li>-->
<!--                                    <li><a href="">Estimated Delivery</a></li>-->
<!--                                </ul>-->

<!--                                <div class="divider-double"></div>-->

<!--                                <ul class="timeline custom-tl">-->

<!--                                    <li class="timeline-inverted">-->
<!--                                        <div class="timeline-date wow zoomIn" data-wow-delay=".2s">-->
<!--                                            Nov 03, 2015-->
<!--                                            <span>20:07 pm</span>-->
<!--                                        </div>-->
<!--                                        <div class="timeline-badge success"><i class="fa fa-check-square-o wow zoomIn"></i>-->
<!--                                        </div>-->
<!--                                        <div class="timeline-panel wow fadeInRight" data-wow-delay=".6s">-->
<!--                                            <div class="timeline-body">-->
<!--                                                The shipment has been successfully delivered-->
<!--                                                <span class="location">Baker Street, UK <a-->
<!--                                                        href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom"-->
<!--                                                        class="popup-gmaps">view on map</a></span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </li>-->

<!--                                    <li class="timeline-inverted">-->
<!--                                        <div class="timeline-date wow zoomIn" data-wow-delay=".2s">-->
<!--                                            Nov 03, 2015-->
<!--                                            <span>20:07 pm</span>-->
<!--                                        </div>-->
<!--                                        <div class="timeline-badge warning"><i class="fa fa-warning wow zoomIn"></i></div>-->
<!--                                        <div class="timeline-panel wow fadeInRight" data-wow-delay=".6s">-->
<!--                                            <div class="timeline-body">-->
<!--                                                The shipment could not be delivered-->
<!--                                                <span class="location">Baker Street, UK <a-->
<!--                                                        href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom"-->
<!--                                                        class="popup-gmaps">view on map</a></span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </li>-->

<!--                                    <li class="timeline-inverted">-->
<!--                                        <div class="timeline-date wow zoomIn" data-wow-delay=".2s">-->
<!--                                            Nov 03, 2015-->
<!--                                            <span>20:07 pm</span>-->
<!--                                        </div>-->
<!--                                        <div class="timeline-badge"><i class="fa fa-plane wow zoomIn"></i></div>-->
<!--                                        <div class="timeline-panel wow fadeInRight" data-wow-delay=".6s">-->
<!--                                            <div class="timeline-body">-->
<!--                                                The shipment has arrived in destination country-->
<!--                                                <span class="location">Baker Street, UK <a-->
<!--                                                        href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom"-->
<!--                                                        class="popup-gmaps">view on map</a></span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </li>-->

<!--                                    <li class="timeline-inverted">-->
<!--                                        <div class="timeline-date wow zoomIn" data-wow-delay=".2s">-->
<!--                                            Nov 02, 2015-->
<!--                                            <span>18:05 pm</span>-->
<!--                                        </div>-->
<!--                                        <div class="timeline-badge"><i class="fa fa-plane wow zoomIn"></i></div>-->
<!--                                        <div class="timeline-panel wow fadeInRight" data-wow-delay=".6s">-->
<!--                                            <div class="timeline-body">-->
<!--                                                The shipment is being transformed to destination country-->
<!--                                                <span class="location">Baker Street, UK <a-->
<!--                                                        href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom"-->
<!--                                                        class="popup-gmaps">view on map</a></span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </li>-->

<!--                                    <li class="timeline-inverted">-->
<!--                                        <div class="timeline-date wow zoomIn" data-wow-delay=".2s">-->
<!--                                            Nov 01, 2015-->
<!--                                            <span>10:08 pm</span>-->
<!--                                        </div>-->
<!--                                        <div class="timeline-badge"><i class="fa fa-plane wow zoomIn"></i></div>-->
<!--                                        <div class="timeline-panel wow fadeInRight" data-wow-delay=".6s">-->
<!--                                            <div class="timeline-body">-->
<!--                                                The international shipment has been processed-->
<!--                                                <span class="location">Baker Street, UK <a-->
<!--                                                        href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom"-->
<!--                                                        class="popup-gmaps">view on map</a></span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </li>-->
<!--                                </ul>-->


<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </section>-->
<!--        </div>-->
    </div>

</div>
<div th:block data-th-insert="~{/fragment/footerFragment::footerMenu}"></div>
</body>
</html>