/* section & subheader settings */

section{
background:#fdfdfd;
padding:90px 0 90px 0;
}

#explore-3.side-bg .background-image {background:url('static/img/bg/bg_square_1.jpg');}
#explore-4.side-bg .background-image {background:#f2f2f2;}
#explore-5.side-bg .background-image {background:#1f242e;}
#section-quick-quote{background: url('../img/bg/bg_2.jpg') center fixed; background-size:cover; margin-top: 50px;}
#section-welcome{background: url('../img/bg/bg_1.jpg') fixed; background-size:cover;}
#section-counter{background: url('../img/bg/bg_3.jpg') center fixed; background-size:cover;}

#subheader {

padding-top: 80px;
background: url(../img/bg/bg-subheader.jpg) fixed;
background-size: cover !important;
text-align: center;
}
#subheader .inner{
padding:90px 0 60px 0;
}
#subheader .inner.overlay{
background:rgba(255,255,255,.2);
}
#subheader.page-about{background: url('../img/bg/background-subheader-1-about.jpg') top fixed; background-size:cover;}
#subheader.page-service{background: url('../img/bg/background-subheader-2-service.jpg') top fixed; background-size:cover;}
#subheader.page-news{background: url('../img/bg/background-subheader-3-news.jpg') top fixed; background-size:cover;}
#subheader.page-gallery{background: url('../img/bg/background-subheader-4-gallery.jpg') top fixed; background-size:cover;}
#subheader.page-contact{background: url('../img/bg/background-subheader-5-contact.jpg') top fixed; background-size:cover;}
#section-tracking-result{background:#222;}


/* paragraph settings */

p.lead{
font-size:16px;
}
p.lead.big{
font-size:25px;
font-weight:lighter;
}

/* mainmenu settings */

#mainmenu-container {
font-family: "Lato";
font-size:14px;
font-weight: 500;
    padding: 20px;
}

#mainmenu a {
    padding: 21px 26px 21px 26px;
}

/* heading settings */

h2{
font-family:"Lato";
font-size:25px;
font-weight:bold;
text-transform:none;
}

h3{
font-family:"Lato";
font-size:18px;
font-weight:bold;
}

h4{
font-family:"Lato";
font-size:16px;
font-weight:bold;
}

#subheader h1{
font-family:"Lato";
font-weight:bold;
font-size:45px;
letter-spacing:1px;
}

h1,.type-wrap.title {
font-size:56px;
font-weight:800;
text-transform:uppercase;
line-height:56px;
font-weight:normal;
color:#fff;
margin-bottom:0;
}

/* widget settings */

.widget h3{
text-transform:none;
}

.widget{
border-bottom:none;
padding-bottom:0;
}


/* footer settings */

footer h3{
padding-bottom:10px;
}
footer{
background:#1f242e;
padding-bottom:0;
color:#7d7d7d;
}

/* misc */

.custom-font-1{
font-family:"Lato";
font-weight:600;
letter-spacing:2px;
}

.btn-custom{
text-transform:none;
letter-spacing:0;
}

.tiny-border{
height:1px;
}


#bg-box-1{background: url('../img/bg/bg-box-1.jpg'); background-size:cover;}
#bg-box-2{background: url('../img/bg/bg-box-2.jpg'); background-size:cover;}
#bg-box-3{background: url('../img/bg/bg-box-3.jpg'); background-size:cover;}
#bg-box-4{background: url('../img/bg/bg-box-4.jpg'); background-size:cover;}