<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link href="/css/main.css" rel="stylesheet" type="text/css">

    <link href='/css/fullcalendar.css' rel='stylesheet'/>
    <link href='/css/fullcalendar.print.css' rel='stylesheet' media='print'/>
</head>
<body>

<div id="wrapper">
    <header style="background-color: #1f242e">
        <div class="container">
            <span id="menu-btn"></span>

            <div class="row">
                <div th:block data-th-insert="~{/fragment/headerFragment::siteMenu}"></div>
            </div>
        </div>
    </header>
</div>
<!-- header close -->
<div class="flex-container">
    <div class="main-container">

        <h1>Products in Stock</h1>
        <ul id="available-products">
            <li>Product 1</li>
            <li>Product 2</li>
            <li>Product 3</li>
        </ul>

        <h1>Issued Goods</h1>
        <ul id="issued-products">
            <li>Product 4</li>
            <li>Product 5</li>
        </ul>
    </div>

</div>
<div th:block data-th-insert="~{/fragment/footerFragment::footerMenu}"></div>
</body>
</html>
