<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>GoCargo - Freight, Logistics & Transportation Website Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- LOAD CSS FILES -->
    <link href="/static/css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="preloader"></div>
<div id="wrapper">
    <!-- header begin -->
    <header class="overlay">
        <div class="container">
            <span id="menu-btn"></span>

            <div class="row">
                <div class="col-md-3">

                    <!-- logo begin -->
                    <div id="logo">
                        <div class="inner">
                            <a href="index.html">
                                <img src="img/logo.png" alt="" class="logo-1">
                                <img src="img/logo-2.png" alt="" class="logo-2">
                            </a>

                        </div>
                    </div>
                    <!-- logo close -->

                </div>

                <th:block th:include="/fragment/headerFragment::siteMenu"/>
            </div>
        </div>
    </header>
    <!-- header close -->

    <!-- subheader begin -->
    <section id="subheader" class="page-contact no-bottom" data-stellar-background-ratio="0.5">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Contact</h1>
                        <div class="crumb">
                            <div class="deco">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li>Contact</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- subheader close -->


    <!-- content begin -->
    <div id="content">
        <div class="container">
            <div class="row no-gutter">
                <div class="col-md-6">
                    <div id="map"></div>
                </div>

                <div class="col-md-6">
                    <div id="contact-form-wrapper">
                        <div class="contact_form_holder">
                            <form id="contact" class="row" name="form1" method="post" action="">
                                <input type="text" class="form-control" name="name" id="name" placeholder="Your name">

                                <div id="error_email" class="error">Please check your email</div>
                                <input type="text" class="form-control" name="email" id="email"
                                       placeholder="Your email">

                                <div id="error_message" class="error">Please check your message</div>
                                <textarea cols="10" rows="10" name="message" id="message" class="form-control"
                                          placeholder="Your message"></textarea>

                                <div id="mail_success" class="success">Thank you. Your message has been sent.</div>
                                <div id="mail_failed" class="error">Error, email not sent</div>

                                <p id="btnsubmit">
                                    <input type="submit" id="send" value="Send" class="btn btn-custom">
                                </p>


                            </form>
                        </div>
                    </div>
                </div>


            </div>

            <div class="divider-line"></div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration=".8s">Our Branch
                    </h2>
                    <div class="small-border wow flipInY" data-wow-delay=".8s" data-wow-duration=".8s"></div>
                </div>

                <div class="col-md-3">
                    <h3>United States</h3>
                    Somewhere Over Rainbow<br>
                    Green World Rainbow Green World<br>
                    T. 0908 1000 1000<br>
                    E. contact@exotheme.com<br>

                    <div class="divider-single"></div>

                    <a href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom"
                       class="btn-border popup-gmaps">View Location</a>
                </div>

                <div class="col-md-3">
                    <h3>Germany</h3>
                    Somewhere Over Rainbow<br>
                    Green World Rainbow Green World<br>
                    T. 0908 1000 1000<br>
                    E. contact@exotheme.com<br>

                    <div class="divider-single"></div>

                    <a href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom"
                       class="btn-border popup-gmaps">View Location</a>
                </div>

                <div class="col-md-3">
                    <h3>Singapore</h3>
                    Somewhere Over Rainbow<br>
                    Green World Rainbow Green World<br>
                    T. 0908 1000 1000<br>
                    E. contact@exotheme.com<br>

                    <div class="divider-single"></div>

                    <a href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom"
                       class="btn-border popup-gmaps">View Location</a>
                </div>

                <div class="col-md-3">
                    <h3>Indonesia</h3>
                    Somewhere Over Rainbow<br>
                    Green World Rainbow Green World<br>
                    T. 0908 1000 1000<br>
                    E. contact@exotheme.com<br>

                    <div class="divider-single"></div>

                    <a href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom"
                       class="btn-border popup-gmaps">View Location</a>
                </div>


            </div>


        </div>
    </div>
    <!-- content close -->

    <!-- footer begin -->
    <footer>
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <h3>Contact Us</h3>
                    <div class="feature-box icon-square">
                        <i class="fa fa-phone"></i>
                        <div class="text">
                            <p>
                                777 Street Fourth Avenue Somewhere Over Rainbow Green World, New York<br>
                                +22 090 1777 1998 &nbsp;&nbsp;&nbsp; +22 090 1777 1999<br>
                                office@exotheme.com
                            </p>

                            <!-- social icons -->
                            <div class="social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-rss"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-envelope-o"></i></a>
                            </div>
                            <!-- social icons close -->
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <h3>Bussiness Hours</h3>
                    <div class="feature-box icon-square">
                        <i class="fa fa-clock-o"></i>
                        <div class="text">
                            <ul class="list-border-bottom">
                                <li>
                                    <span class="pull-left">Monday - Friday :</span>
                                    <span class="pull-right id-color">9 am to 10 pm</span>
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <span class="pull-left">Saturday</span>
                                    <span class="pull-right id-color">9 am to 5 pm</span>
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <span class="pull-left">Sunday & Official Holiday :</span>
                                    <span class="pull-right id-color">Closed</span>
                                    <div class="clearfix"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <h3>Newsletter Sign Up</h3>
                    <div class="feature-box icon-square">
                        <i class="fa fa-newspaper-o"></i>
                        <div class="text">
                            <p>Subscribe to our weekly newsletter to get information and promotion on your inbox</p>
                            <div class="clearfix"></div>
                            <div class="subscribe">
                                <div class="l-col">
                                    <input type="text" class="form-control" name="subscribe-email" id="subscribe-email">
                                </div>
                                <div class="r-col">
                                    <input class="form btn btn-custom" name="subscribe-submit" id="subscribe-submit"
                                           type="submit" value="Subscribe">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="divider-line"></div>
                </div>


                <div class="col-md-3">
                    <div class="widget">
                        <h3>Useful Links</h3>
                        <ul class="list-2-col">
                            <li><a href="">Services</a></li>
                            <li><a href="">Contact Us</a></li>
                            <li><a href="">Location</a></li>
                        </ul>

                    </div>
                </div>


            </div>
        </div>

        <div class="subfooter">
            &copy; Copyright 2015 - GoCargo by ExoTheme
        </div>
    </footer>
    <!-- footer close -->
</div>

<!-- LOAD JS FILES -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/easing.js"></script>
<script src="js/jquery.ui.totop.js"></script>
<script src="js/selectnav.js"></script>
<script src="js/ender.js"></script>
<script src="js/owl.carousel.js"></script>
<script src="js/jquery.fitvids.js"></script>
<script src="js/jquery.plugin.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/tweecool.js"></script>
<script src="js/instafeed.min.js"></script>
<script src="js/jquery.stellar.js"></script>
<script src="js/typed.js"></script>

<!-- theme custom and plugin settings -->
<script src="js/custom.js"></script>
<script src="js/custom-tweecool.js"></script>
<script src="js/custom-instafeed.js"></script>
<script src="js/contact.js"></script>
<script src="../maps/api/js?v=3.exp"></script>
<script src="js/map.js"></script>

</body>
</html>
