﻿<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>GoCargo - Freight, Logistics & Transportation Website Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- LOAD CSS FILES -->
    <link href="/css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="preloader"></div>
<div id="wrapper">
    <header style="background-color: #1f242e">
        <div class="container">
            <span id="menu-btn"></span>

            <div class="row">
                <div th:block data-th-insert="~{/fragment/headerFragment::siteMenu}"></div>
            </div>
        </div>
    </header>
</div>
<!-- header close -->

<!-- subheader begin -->
<section id="subheader" class="page-contact no-bottom" data-stellar-background-ratio="0.5">
    <div class="inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Contact</h1>
                    <div class="crumb">
                        <div class="deco">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li>Contact</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- subheader close -->


<!-- content begin -->
<div id="content">
    <div class="container">
        <div class="row no-gutter">
            <div class="col-md-6">
                <div id="map"></div>
            </div>

            <div class="col-md-6">
                <div id="contact-form-wrapper">
                    <div class="contact_form_holder">
                        <form id="contactMail" class="row" name="contactMail" th:method="POST"
                              th:action="@{/send-email}">

                            <div id="error_name" class="error">Please check your name</div>
                            <input type="text" class="form-control" name="name" id="name" placeholder="Your name"/>

                            <div id="error_email" class="error">Please check your email</div>
                            <input type="text" class="form-control" name="email" id="email"
                                   placeholder="Your email">

                            <div id="error_message" class="error">Please check your message</div>
                            <textarea cols="10" rows="10" name="message" id="message" class="form-control"
                                      placeholder="Your message"></textarea>

                            <div id="mail_success" class="success">Thank you. Your message has been sent.</div>
                            <div id="mail_failed" class="error">Error, email not sent</div>

                            <p id="btnsubmit">
                                <input type="submit" id="send" value="Send" class="btn btn-custom"
                                       onclick="sendEmail()">
                            </p>
                            <p id="response-message"></p>

                        </form>
                    </div>
                </div>
            </div>


        </div>

        <div class="divider-line"></div>

        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration=".8s">Our Branch
                </h2>
                <div class="small-border wow flipInY" data-wow-delay=".8s" data-wow-duration=".8s"></div>
            </div>

            <div class="col-md-3">
                <h3>Armenia,Yerevan</h3>
                Somewhere Over Rainbow<br>
                Green World Rainbow Green World<br>
                T. 0908 1000 1000<br>
                E. contact@exotheme.com<br>

                <div class="divider-single"></div>

                <a href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom"
                   class="btn-border popup-gmaps">View Location</a>
            </div>

            <div class="col-md-3">
                <h3>Germany,Berlin</h3>
                Somewhere Over Rainbow<br>
                Green World Rainbow Green World<br>
                T. 0908 1000 1000<br>
                E. contact@exotheme.com<br>

                <div class="divider-single"></div>

                <a href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom"
                   class="btn-border popup-gmaps">View Location</a>
            </div>

            <div class="col-md-3">
                <h3>France,Paris</h3>
                Somewhere Over Rainbow<br>
                Green World Rainbow Green World<br>
                T. 0908 1000 1000<br>
                E. contact@exotheme.com<br>

                <div class="divider-single"></div>

                <a href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom"
                   class="btn-border popup-gmaps">View Location</a>
            </div>

            <div class="col-md-3">
                <h3>Russia,Moscow</h3>
                Somewhere Over Rainbow<br>
                Green World Rainbow Green World<br>
                T. 0908 1000 1000<br>
                E. contact@exotheme.com<br>

                <div class="divider-single"></div>

                <a href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom"
                   class="btn-border popup-gmaps">View Location</a>
            </div>


        </div>


    </div>
</div>
<!-- content close -->

<!-- footer begin -->
<div th:block data-th-insert="~{/fragment/footerFragment::footerMenu}"></div>
<!-- footer close -->

<script>
    function sendEmail() {
        var r = new XMLHttpRequest();
        var url = "/send-email";
        var nameuser = document.getElementById('name').value;
        var email = document.getElementById('email').value;
        var message = document.getElementById('message').value;
        var button = document.getElementById('send');

        button.value = "Sending...";
        r.open("POST", url, true);

        r.setRequestHeader("Content-Type", "application/json");

        r.onreadystatechange = function () {
            if (r.readyState === 4) {
                if (r.status === 200) {
                    var response = JSON.parse(r.responseText);
                    if (response.success) {
                        document.getElementById('response-message').innerText = "Email sent";
                        button.value = "Sent";
                    } else {
                        console.error("Failed to send email.");
                        document.getElementById('response-message').innerText = "Error, email not sent";
                    }
                } else {
                    document.getElementById('response-message').innerText = "Error occurred while sending email: " + r.statusText;
                }
            }
        };


        var requestBody = JSON.stringify({
            name: nameuser,
            email: email,
            message: message
        });

        r.send(requestBody);
    }

    document.getElementById('contactMail').addEventListener('submit', function(event) {
        event.preventDefault();
        sendEmail();
    });

</script>


<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.isotope.min.js"></script>
<script src="/js/easing.js"></script>
<script src="/js/jquery.ui.totop.js"></script>
<script src="/js/ender.js"></script>
<script src="/js/owl.carousel.js"></script>
<script src="/js/jquery.fitvids.js"></script>
<script src="/js/jquery.plugin.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/tweecool.js"></script>
<script src="js/instafeed.min.js"></script>
<script src="js/jquery.stellar.js"></script>
<script src="js/typed.js"></script>

<!-- theme custom and plugin settings -->
<script src="js/custom.js"></script>
<script src="js/custom-tweecool.js"></script>
<script src="js/custom-instafeed.js"></script>
<script src="js/contact.js"></script>
<script src="../maps/api/js?v=3.exp"></script>
<script src="js/map.js"></script>

</body>
</html>
