<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="/static/css/indexRegistb.css">
    <script src="https://kit.fontawesome.com/0f145f388b.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="img/Transportation-16x16.png" type="image/x-icon">
</head>
<body>
<div class="flex-container">
    <div class="main-container">
        <div class="login">
            <div class="header">
                <div class="logo">
                    <img src="/static/img/logo.png" alt="logo">
                </div>

            </div>
            <div class="title">
                <h1>Branch registrati</h1>
                <p>Have an account? <a href="loginBranch.html">Login</a></p>
            </div>
            <form method="POST" action="">
                <div>
                    <label for="country">
                        Country
                    </label>
                </div>
                <div>
                    <select required>
                        <option selected disabled=true>Country</option>
                        <option value="1">Armenia</option>
                        <option value="2">Russia</option>
                        <option value="3">Germany</option>
                    </select>
                </div>
                <div>
                    <label for="city">
                        City
                    </label>
                </div>
                <div>
                    <select required>
                        <option selected disabled=true>Country</option>
                        <option value="1">Armenia</option>
                        <option value="2">Russia</option>
                        <option value="3">Germany</option>
                    </select>
                </div>
                <div>
                    <label for="email">
                        Address
                    </label>
                </div>
                <div>
                    <input type="text" name="address" placeholder="Address" required>
                </div>
                <div>
                    <label for="email">
                        Email
                    </label>
                </div>
                <div>
                    <input type="email" name="email" placeholder="Email" required>
                </div>
                <div>
                    <label for="password">
                        Password
                    </label>
                </div>
                <div>
                    <input type="password" name="password" placeholder="Password" required>
                </div>


                <input type="submit" class="button" value="Registration" name="Registration">
            </form>
        </div>
        <div class="background">
            <img src="/static/img/bg.jpg">
        </div>

    </div>

</div>
</body>
</html>