<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>GoCargo - Freight, Logistics & Transportation Website Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- LOAD CSS FILES -->
    <link href="/css/main.css" rel="stylesheet" type="text/css">

    <!-- css files for current page only -->
    <!--    <link href='../css/fullcalendar.css' rel='stylesheet'/>-->
    <!--    <link href='../css/fullcalendar.print.css' rel='stylesheet' media='print'/>-->
</head>

<body>
<div id="preloader"></div>
<div id="wrapper">
    <header style="background-color: #1f242e">
        <div class="container">
            <span id="menu-btn"></span>

            <div class="row">
                <div th:block data-th-insert="~{/fragment/headerFragment::siteMenu}"></div>
            </div>
        </div>
    </header>
</div>
    <!-- header close -->

    <!-- subheader begin -->
    <section id="subheader" class="page-service no-bottom" data-stellar-background-ratio="0.5">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Services</h1>
                        <div class="crumb">
                            <div class="deco">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li>Services</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- subheader close -->

    <div class="clearfix"></div>

    <!-- content begin -->
    <div id="content" class="no-padding">

        <section id="explore-5" class="side-bg">
            <div class="col-md-6 col-md-offset-6 pull-right image-container">
                <div class="background-image"></div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="inner-padding">
                            <div class="row">


                                <div class="col-md-6 wow fadeIn" data-wow-delay=".8s">
                                    <div class="box-icon-small">
                                        <i class="fa fa-calculator"></i>
                                        <div class="text">
                                            <h3>Contract<br>
                                                Logistics</h3>
                                            <p>Aenean sollicitudin, lorem quis bibendum.</p>
                                            <a href="service-details-4.html" class="btn-arrow"><span
                                                    class="line"></span><span class="url">View Details</span></a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="col-md-5 col-md-offset-2 text-center light-text">
                        <div class="inner-padding">
                            <h2 class="id-color">Gocargo Commitment</h2>
                            <div class="tiny-border center"></div>
                            <div class="divider-single"></div>
                            <p class="lead big">
                                <i>We are commited to be the leading logistic solutions provider to our customer. We
                                    continually improving & implementing a quality management
                                    to achieve it</i>
                            </p>
                            <div class="divider-single"></div>
                            <img src="img/signature.png" alt="">
                            <div class="divider-single"></div>
                            <strong>John Rukman</strong>, Vice President<br>
                            Gocargo Inc
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
        </section>

        <section id="section-counter" class="light-text" data-stellar-background-ratio="0.5">
            <div class="container">

                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="counter">
                                    <div class="num">
                                        150
                                        <div class="tiny-border"></div>
                                    </div>
                                    <div class="text">Countries<br>
                                        Worldwide
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="counter">
                                    <div class="num">
                                        25
                                        <div class="tiny-border"></div>
                                    </div>
                                    <div class="text">Years<br>
                                        Experience
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="counter">
                                    <div class="num">
                                        770
                                        <div class="tiny-border"></div>
                                    </div>
                                    <div class="text">Packages<br>
                                        a Day
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="counter">
                                    <div class="num">
                                        5.5k
                                        <div class="tiny-border"></div>
                                    </div>
                                    <div class="text">Satisfied<br>
                                        Customers
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

    </div>
    <!-- content close -->

    <!-- footer begin -->
    <div th:block data-th-insert="~{/fragment/footerFragment::footerMenu}"></div>
    <!-- footer close -->


<!-- LOAD JS FILES -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/easing.js"></script>
<script src="js/jquery.ui.totop.js"></script>
<!--<script src="js/selectnav.js"></script>-->
<script src="js/ender.js"></script>
<script src="js/owl.carousel.js"></script>
<script src="js/jquery.fitvids.js"></script>
<script src="js/jquery.plugin.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/tweecool.js"></script>
<script src="js/instafeed.min.js"></script>
<script src="js/jquery.stellar.js"></script>
<script src="js/typed.js"></script>

<!-- theme custom and plugin settings -->
<script src="js/custom.js"></script>
<script src="js/custom-tweecool.js"></script>
<script src="js/custom-instafeed.js"></script>

</body>
</html>
